label {
  display: inline-block;
  width: 65px;
  text-align: left;
  font-size: 30px;
}
.coeff {
  display: inline-block;
  font-size: 25px;
  width: 120px;
}
.func-checkbox {
  width: 25px;
  height: 25px;
  display: inline;
}

.big-label {
  width: 200px;
  display: inline;
}

.plot-button{
  font-size: 18px;
}