{% extends 'bootstrap/base.html' %}

{% block styles %}
{{super()}}
<link href="/static/css/main.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
    <div class="box center">
        <div class="form-header">
            <h2>Численное интегрирование методом прямоугольников</h2>
            <h3>Григорий Кострюков, ИВТ-31</h3>
            <h3><i>y = α*sin(tg(βx))*sin(γx)</i></h3>
        </div>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <h3>Коэффициенты</h3>
            <div class="row">
                <div class="col-sm-3">
                    <div class="block">
                        <label>α = </label>
                        {{ form.alpha(class="input coeff")}}
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="block">
                        <label>β = </label>
                        {{ form.beta(class="input coeff")}}
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="block">
                        <label> γ = </label>
                        {{ form.gamma(class="input coeff")}}
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="block">
                        <label> a = </label>
                        {{ form.lower_limit(class="input coeff")}}
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="block">
                        <label> a = </label>
                        {{ form.upper_limit(class="input coeff")}}
                    </div>
                </div>
            </div>
            <h3>Начальное количество узлов</h3>

            <div class="block">
                <label class="big-label"> n = </label>
                {{ form.n(class="input coeff")}}
            </div>


            <div>
                <h3>Размеры окна</h3>
                <h4>X:</h4>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="block">
                            <label>От</label>
                            {{ form.A(class="input coeff")}}
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="block">
                            <label>до</label>
                            {{ form.B(class="input coeff")}}
                        </div>
                    </div>
                </div>
                <h4>Y:</h4>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="block">
                            <label>От</label>
                            {{ form.C(class="input coeff")}}
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="block">
                            <label>до</label>
                            {{ form.D(class="input coeff")}}
                        </div>
                    </div>
                </div>

            </div>

            <div>
                <h3>Выбранный параметр</h3>
                {{form.selected_parameter}}
            </div>
            <div>
                <h3>Точность</h3>
                {{form.precision}}
            </div>
            {{ form.submit(class="btn btn-primary plot-button") }}
        </form>
        {% if graph %}
        <h2>График функции F(x)</h2>
        <img src="data:image/png;base64, {{ graph }}" width="1100" height="700">
        {% endif %}
        {% if n_max %}
        <h2>Максимальное число отрезков разбиения Nmax = {{n_max}}</h2>
        {% endif %}
    </div>

</div>
{% endblock %}